html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
  text-align: center;
}

p {
  font-size: 1.2  rem;
}

body {
  margin: 0;
  width: 100%;
}

.topnav {
  overflow: hidden;
  background-color: skyblue;
  color: white;
  font-size: 1rem;
  padding: 5px;
}

#authentication-bar {
  background-color: mintcream;
  padding-top: 10px;
  padding-bottom: 10px;
}

#user-details {
  color: cadetblue;
}

.content {
  padding: 20px;
}

.card {
  background-color: white;
  box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, .5);
  padding: 5%;    
  border-radius: 8px;
}

.cards {  
  max-width: 800px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
}

.wrapper{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.progress{
  margin: 30px auto;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.toggle-btn{
  width: 80px;
  height: 40px;
  background: gray;
  border-radius: 30px;
  padding: 5px;
  transition: all 300ms ease-in-out;
}

.toggle-btn > .inner-circle{
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}

.toggle-btn.active{
  background: skyblue ;
  transition-delay: 0.5s;
}

.toggle-btn.active > .inner-circle{
  margin-left: 40px;
}

.indicators-container {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
  align-items: center; /* Center items vertically */
  flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
}

.indicator-wrapper {
  text-align: center; /* Center text within the wrapper */
}

.indicator {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: grey;
}

.reading {
  font-size: 1.6rem;
  font-weight: bold;
  color: #193036;
}

button {
  background-color: skyblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  opacity: 0.8;
}

.form-elements-container {
  padding: 16px;
  width: 250px;
  margin: 0 auto;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.date-time {
  font-size: 0.8rem;
  color: #1282A2;
}

.deletebtn {
  background-color: #c52c2c;
}

table {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
}

tr,
td {
  padding: 0.25rem;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

tr:hover {
  background-color: #ddd;
}

th {
  position: sticky;
  top: 0;
  background-color: #50b8b4;
  color: white;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {

  .cancelbtn,
  .deletebtn {
    width: 100%;
  }
}